.about-section {
  width: 80vw;
  padding-top: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media("<lgphone") {
    flex-direction: column-reverse;
  }

  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
  }

  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }

  .content {
    width: 60%;

    @include media("<desktop") {
      width: 100%;
    }

    h1 {
      font-size: calc(1.5rem + 1vw);
      line-height: 20px;

      @include media("<desktop") {
        text-align: center;
        padding-bottom: 1rem;
      }
    }

    p {
      @include media("<desktop") {
        text-align: center;
      }
    }
  }

  .image-wrapper {
    width: 40%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include media("<desktop") {
      width: 50%;
      height: auto;
      margin-bottom: 1.5em;
    }

    .about-img {
      border-radius: 50%;
      width: calc(60% - 20px);
      height: auto;
      overflow: visible;

      img {
        width: 100%;
        padding: 2px;
        border-radius: 50%;
        border: 4px double rgb(88, 113, 255);
      }
    }
  }
}