@use "include-media";

.promotion-wrapper {
  width: 100vw;
  max-width: 1200px;
  margin-top: 10vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include include-media.media(">=desktop") {
    margin-top: 0;
  }

  h1 {
    font-size: calc(1.2rem + 1vw);
    line-height: 20px;
  }

  p {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    text-align: center;
  }

  .grid {
    display: grid;
    width: 90%;
    align-items: center;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
   
    @include include-media.media("<tablet") {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}