.work-wrapper {
  width: 100vw;
  max-width: 1600px;
  margin-top: 7vh;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(">=desktop") {
    margin-top: 5vh;
  }


  h1 {
    font-size: calc(1.5rem + 1vw);
    line-height: 20px;
  }

  p.work-headline {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    text-align: center;
    margin-bottom: 12%;
  }

  .grid-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
  }

  .grid {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;

    display: flex;
    align-items: center;
    width: 90vw;
    margin: 1% 5%;

    @include media("<=tablet") {
      height: 65vh;
      margin-left: 10vw;
      margin-right: 10vw;
    }

    /* Enable Safari touch scrolling physics */
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    .modal-thumbnails {
      scroll-snap-align: center;
      scroll-snap-stop: always;
      position: relative;
      min-width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      appearance: none;
      padding: 0;
      margin: 0 0.5rem;
      cursor: pointer;
      position: relative;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      border-radius: 1rem;

      &:first-child {
        margin: 0 0.5rem 0 0;
      }

      &:last-child {
        margin: 0 0 0 0.5rem;
      }

      @include media("<=tablet") {
        min-width: 70%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        color: transparent;
        transition: opacity 1s ease-in;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        background-image: url(../images/icons/play_circle.svg);
        background-size: contain;
      }

      img[data-lazy-src] {
        opacity: 0;
      }

      img.lazyloaded {
        -webkit-transition: opacity .5s linear 0.2s;
            -moz-transition: opacity .5s linear 0.2s;
                      transition: opacity .5s linear 0.2s;
        opacity: 1;
      }
    }
  }

  .arrows {
    cursor: pointer;
    appearance: none;
    border: 0;
    outline: 0;
    position: absolute;
    top: calc(50% - 15px);
    transform: translate(0, 0%);
    padding: 1vw;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;

    &.left {
      background-image: url("data:image/svg+xml,%3Csvg height='30px' width='30px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 309.143 309.143' xml:space='preserve'%3E%3Cpath style='fill:%23CCCCCC;' d='M112.855,154.571L240.481,26.946c2.929-2.929,2.929-7.678,0-10.606L226.339,2.197 C224.933,0.79,223.025,0,221.036,0c-1.989,0-3.897,0.79-5.303,2.197L68.661,149.268c-2.929,2.929-2.929,7.678,0,10.606 l147.071,147.071c1.406,1.407,3.314,2.197,5.303,2.197c1.989,0,3.897-0.79,5.303-2.197l14.142-14.143 c2.929-2.929,2.929-7.678,0-10.606L112.855,154.571z'/%3E%3C/svg%3E");
      left: 0;
    }

    &.right {
      background-image: url("data:image/svg+xml,%3Csvg height='30px' width='30px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 309.143 309.143' xml:space='preserve'%3E%3Cpath style='fill:%23CCCCCC;' d='M240.481,149.268L93.41,2.197c-2.929-2.929-7.678-2.929-10.606,0L68.661,16.34 c-1.407,1.406-2.197,3.314-2.197,5.303c0,1.989,0.79,3.897,2.197,5.303l127.626,127.625L68.661,282.197 c-1.407,1.406-2.197,3.314-2.197,5.303c0,1.989,0.79,3.897,2.197,5.303l14.143,14.143c1.464,1.464,3.384,2.197,5.303,2.197 c1.919,0,3.839-0.732,5.303-2.197l147.071-147.071C243.411,156.946,243.411,152.197,240.481,149.268z'/%3E%3C/svg%3E");
      right: 0;
    }
  }

  .arrows:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}